.banner{
                    background-image: url(./assets/bg-shadow.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 20px;
                    background-color: black;
                    
}

.active{
                  background-color:#E7FE29 
}

  .newsletter {
                    position: absolute;
                    top: -0%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    border-radius: 15px;
                  }
                  